@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');



:root {
  --primaryColor: #FFFAEF;
  --secondaryColor: #B76F14;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* element will not grow larger if you add padding or margin */ 
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

img{
    max-width:100%;
    max-height:100%;
}

a {
  text-decoration:none;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center; 
    background: var(--primaryColor);
    z-index: 1;
  }
  .navbar-center { 
    width: 100%;
    max-width: 1170px; /*Ensure on larger screens, won't be too big */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /*keep as much space as possible between elements */
    padding: 0 2.5rem;
  }

  .nav-icon {
    font-size: 1.5rem;
    cursor:pointer;
  }

  .center-logo{
    height:40px;
    width:190px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-family: Baskerville;
    font-weight:400;
    color: #B76F14;
  }

  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute; 
    top: -8px;
    right: -8px;
    background: var(--secondaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color:white;
  }

    /* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px); /*have hero be 100% of screen size - 60px height of nav*/
    background: url("./images/moist-cinammon.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
  }
  .banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;

    font-family: Baskerville;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: orange;
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: white;
  }
  /* --------------- End of Hero ---------------- */

   /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);

    font-family: Baskerville;

  }
  .products-center {
    /*have products take up 90% and center it*/
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;

    /*better than grid-template-columns: repeat(4, 1fr);*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    
  }

  .product{
    box-shadow: 0 4px 5px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .img-container {
    position: relative;
    overflow: hidden;
    cursor:pointer;

      /* RESPONSIVE BUT SETTING A MAX-HEIGHT
    height: 100%;
    max-height: 300px; */
  }
  .bag-btn {
    position: absolute;
    width: 100%;
    height:20%;
    bottom:0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateY(101%);
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .bag-btn:hover {
    color: orange;
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display:block;
    width: 100%;
    min-height: 15rem;
    transition: var(--mainTransition);

      /* USING OBJECT FIT
    object-fit: cover;
    object-position: center center;  */
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    color:black;

  }
  
  .product h4 {
    margin-bottom: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: gray;
    text-align: center;
    font-family: Baskerville;

  }
  
  /* ---------------End of Products ---------------- */

  /*Individual Product*/

  .single-product{
    padding: 4rem 0;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;

  }
  
 
  .section-title h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 5rem;
      text-transform: capitalize;
      letter-spacing: var(--mainSpacing);
      font-family: Baskerville;
  }

  .indi-img-container img{
    display:block;
    position: relative;
    overflow: hidden;
    width: 90vw;
    max-width: 500px;
    max-height:500px;
    margin: 0 auto;

  }

  .roll-container, .glaze-container{
    padding-top: 2rem;
    width: 50vw;
    margin:0 auto;
    text-align:center;
  }

  .button-container{
    padding-top: 1rem;
  
  }

  .roll-button{
    margin:2px;
    background-color: orange; /* Green */
    border: 1px solid yellow;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    width: 20%;
    height: 5%;
    margin-right:1%;
    border-radius: 5px;
    padding-left: 0px !important;
  }

 .glaze-container .roll-container{
  padding-top: 2rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #946E29;
  width:100%;
 }

/* The container must be positioned relative: */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Helvetica;
  padding-left: 0px !important;
  width: 50%;
  margin: 0 auto;
  padding-top: 1rem;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: orange;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 28px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color:black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #FFF6E3;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.product-footer{
  width: 50%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;

}

.product-footer h3{
      font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size:2em;
    color: #946E29;v
}

.bag-btn-2 {
  width: 50%;
  margin:0 auto;
  text-align:center;
  background: gold;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateY(101%);
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bag-btn-2:hover {
  color: orange;
}


    /* ---------------End of Products ---------------- */




  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    
  }
  .cart-item img {
    width: 100px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: orange;
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */