/*Universal styling*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
  }
  

body{
    width:100vw;
    background-color: #FFFAEF;
}

ul { 
    margin: 0; 
    padding: 0; 
    text-decoration: none;
    list-style: none;
} 




/* Navbar Styling */

header{
    min-height: 50px;
    width: 100%;
    height:10%;
    background-color: #FFF6E3;
    display: flex;
    justify-content: space-between;

}

header a{
    display:flex;
}

.left-nav-side{

    align-items: center;
    margin-left: 5%;
    display: flex;
    margin: 2%;
    padding-left:4%;

}

#logo-title{
    display:inline-block;
    font-family: Baskerville;
    font-weight:400;
    font-size: 20px;
    color: #B76F14;
    padding-left:20px;
    padding-top:1px;
  
}

#logo-image{
    display:inline-block;
    height: 1.5rem;
}

.right-nav-side{
    margin-right: 5%;
    display: flex;
    font-family: Open Sans;
    font-weight: 800;
    color: #FF931E;


}

.right-nav-side ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    list-style: none;
  }

.right-nav-side ul li {
    margin-right: 25px;
  }


#cart-number{
    padding-left:1px;
    margin: 0 auto;
    position: relative;
    left: -10px;
}



#button{
    background: #FF931E;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius:84px;
    font-family: Open Sans;

      
}

/* Text Styles */

.text-style-1{
    margin-top: 5%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 43px;
    color: #BB7720;
    text-align:center;
}

.text-style-2{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #BB7720;

}

.text-style-3{
    margin-top: 5em;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #BB7720;
    
}

.content-container #button{
    display: block;
    margin: 5% auto;
    /* margin-top: 10%; */
    width: 200px;
    }

/* Main Body Styling */
.main-body{
    width:100%;
    height: auto;
    
}

.main-body h1{
    margin-top: 2%;
    font-family: Baskerville;
    font-style: italic;
    font-weight: normal;
    font-size: 3em;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.07em;


    color: #946E29;
}

.content-container{
    width:80%;
    background: #FFF1D6;
    border: 2px solid #B76F14;
    box-sizing: border-box;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 2%;
    
}

#content-left-side{
    width:50%;
    height:400px;
    float:left;
}

.content-container img{
    width:50%;
    float:right;
    height:400px;
}

/* Homepage Second Body Styling */
.second-body{
    width:80%;
    height:30vh;
    margin: 2% auto;
    

}

.second-body-left-side{
    width:50%;
    float:left;
    height: inherit;
    border-right: 2px solid #B76F14;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    }

.second-body-right-side{
    width: 50%;
    float:right;
    height: inherit;
}

.second-body-left-side h2{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 120.2%;
    color: #EC9321;
    padding-left:2%;
}

.second-body-right-side ul{
    width:100%;
    display:flex;
    height:inherit;
    align-items:center;

}

#home-card{
    margin: 0 auto;
    display:inline-block;
    background: #FFFBF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    width: 35%;
    margin-right:0;
    text-align:center;
}

#home-card img{
    width:100%;
    height: 75%;
}

#home-card-button{
    background: #B76F14;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 84px;background: #B76F14;
    border:none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold; 
    font-size: 0.7em; 
    line-height: 22px;
    text-align: center;
    color: #FAFAFA;
    padding: 1%;
    width: 70%;
}



.home-card-container {
    margin-top:1%;
    margin-bottom:2%;
}
.home-card-container p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 120.2%;
    text-align: center;
    color: #363636;

}


/* Footer Styling */

footer{
    width:100vw;
    height: auto;
    background-color:#FFF6E3;
    position:absolute;
    text-align:center;

}

footer h3 {
    margin-top: 2%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    color: #BB7720;
}

footer p, a {
    font-family: Baskerville;
    font-style: italic;
    font-weight: normal;
    font-size: 31px;
    text-align: right;
    letter-spacing: 0.07em;
    text-align:center;
    color: #946E29;
}

footer p{
    margin: 1%;
}
